.container {
    height: var(--footer-height);
    background: var(--footer-background);

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 0 16px;
}

.name {
    font-size: 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;

    &__header {
        font-size: 1rem;
        font-weight: 400;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        &_mobile {
            display: none;
        }
    }
}

@media (max-width:1000px) {
    .container {
        padding: 0px 10px 35px 10px;
    }
    .name {
        position: absolute;
        inset: 0;
        bottom: 10px;
        user-select: none;
        pointer-events: none;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .links {
        gap: 5px;
        &__buttons {
            gap: 15px;
            &_desktop {
                display: none;
            }
            &_mobile {
                display: flex;
                a {
                    width: 40px !important;
                    height: auto !important;
                    img {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .links {
        &__buttons {
            gap: 10px;
            &_mobile {
                a {
                    width: 30px !important;
                }
            }
        }
    }
}