.container {
    height: var(--header-height);

    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    position: relative;

    &_sites {
        background: var(--foreground);
    }
    &_music {
        // background: url('/images/pages/music/starsbackground.jpeg') center center no-repeat;
        // background-size: cover;
        position: fixed !important;
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        backdrop-filter: blur(5px);
    }
    
    &__switcher {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 16px;
    }

    &__logoNSort {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;

        &__name {
            color: var( --header-name-color);
            font-weight: 400;
            font-size: 1.3rem;
            align-self: center;
        }

        font-size: 1.5rem;

    }

    &__musicMenu {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__option {
            padding: 15px 30px;
            transition: all 0.2s ease-in-out;
            border-radius: var(--min-border-radius);
            font-size: 1.3rem;
            cursor: pointer;
            color: var(--foreground);
            &_notChosen {
                        background: transparent;
            }
            // &_chosen {
            //     background: var(--foreground);
            // }
        }
        &__option:hover {
            background: var(--foreground);
            color: black;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }
}
@media (max-width: 800px) {

    .container {
        padding: 16px 25px 16px 0;
        // align-items: flex-start;

        &__switcher {
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
}