.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 22px 0px 22px 0px;
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    height: 100%;
    gap: 26px;

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    &__cards {
        display: grid;
        width: 100%;
        justify-content: center;
        justify-items: center;

        perspective: 500vw; 
        max-width: 1500px;

        gap: 40px 80px;

        flex-grow:1;

        overflow-y: auto;
        overflow-x: hidden;

        &_scrollDown {
            transform: rotateZ(10deg);
        }
        &_scrollUp {
            transform: rotateZ(-10deg);
        }

        &_list {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: min-content;
            align-items: flex-start;
            padding-right: 25px;
            max-height: calc(100vh - var(--header-height) - var(--footer-height) - 170px);
            flex-grow: 1;
        }
        &_grid {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            max-width: 1400px;
            padding: 0 50px;
            gap: 40px 80px;
            max-height: calc(100vh - var(--header-height) - var(--footer-height) - 100px);
            flex-grow: 0;
        }

        &__card {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            // backface-visibility: hidden;
        
            min-width: 270px;
        
        
            width: 100%;
        

            position: relative;

            &_grid {
                max-height: 391px;
                max-width: 340px;
                aspect-ratio: 1 / 1;

                @media (max-width: 1600px) {
                    max-width: 280px;
                    max-height: 330px;
                }
            }
            &_list {

            }
        }
    }
    &__cards::-webkit-scrollbar-thumb {
        all: unset;
        width: 82px;
        height: 22px;
        background: rgba(175, 175, 175, 0.6); 
    }
    &__cards::-webkit-scrollbar-thumb:hover {
        background: rgba(175, 175, 175, 1);
        cursor: pointer;
    }
    &__cards::-webkit-scrollbar {
        all: unset;
        width: 20px;
    }
    &__cards::-webkit-scrollbar-track {
        all: unset;
        width: 1px;
        background: var(--background);
    }

    &__cards::-webkit-scrollbar-track {
        background-image: url("/images/icons/scroll-track.png");
        background-repeat: repeat-y;
        background-size: contain;
    }
}

.modal {
    position: fixed;
    inset: 0;


    background: rgba(255, 255, 255, 0.275);

    z-index: 6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 31px;
    position: absolute;
    bottom: calc(var(--footer-height) + 10px);

    button {
        padding: 5px;
        background: var(--white);
        min-width: 44px;
        min-height: 41px;
        width: fit-content;
    }
    button:disabled {
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.41);
        cursor:auto;
    }
}

.adminPanel {
    display: flex;
    position: absolute;
    left: 25px;
    bottom: calc(var(--footer-height) + 10px);
    max-width: 220px !important;
}

.about {
    display: flex;
    position: absolute;
    right: 25px;
    bottom: calc(var(--footer-height) + 10px);
}

@media (max-width: 900px) {
    .container {
        max-height: none;
        &__cards {
            max-height: none;
            &_list {
                padding: 0 10px 0 10px;
            }
        }
    }
    .about {
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }
    .adminPanel {
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }
}