.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
    justify-content: center;

    width: 220px;



    position:relative;

    &__option {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        gap: 8px;
        justify-content: flex-start;
    
        width: 100%;
        min-height: 36px;

        padding: 0 10px;

        p {
            white-space: nowrap;
        }

        background: var(--button-dark);

        user-select: none;
        border-radius: var(--default-border-radius-big);
    }

    &__modal {
        display: flex;
        flex-direction: column;

        gap: 13px;
        padding: 0px 8px;
        padding: 0;

        width: 110%;
        height: 0;
        background: white;
        position: absolute;
        top: 0;
        left: auto;

        overflow: hidden;

        background: var(--button-darkest);

        border-radius: var(--default-border-radius-big);

        z-index: 2;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 180px;
        height: 36px;
    }

}
@media (max-width: 450px) {
    .container {
        width: 140px;
        img {
            width: 18px;
            height: 18px;
        }
    }

}