.container {
    height: fit-content;

    max-width: 1200px;
    min-width: 320px;

    background: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;

    padding: 30px;
    gap: 20px;

    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.509);
    &__header {
        font-size: 2.5rem;
        text-align: center;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    flex-wrap: wrap;

    height: 100%;
    gap: clamp(20px, 15%, 100px);
    flex: 1;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        flex-shrink: 1;

        gap: 30px;
        &__text {
            font-size: 1.25rem;
            text-align: center;
        }
        &__mainImage {


            aspect-ratio: 483 / 264;

            object-fit: cover;
            object-position: center;
            flex: 1;
            min-width: 300px;

        }
        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
            max-width: 483px;
        }
    }

    h3 {
        font-size: 2rem;
    }

    &__traits {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        padding: 5px 25px 5px 25px;

        box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.309);
        gap: 20px;

        max-width: 350px;
        max-height: 100%;
        overflow-y: auto;
        flex: 1;

        &__stack {
            text-align: center;
            &__list {
                display: flex;
                flex-direction: column;
                align-items: flex;
            }
        }

        &__features {

            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            width: fit-content;
            &__list {
                list-style:disc;
                margin-left: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;
            }
        }
    }
}

.closeButton {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;

    background: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 80%;
    }
}

.link {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.309);
}