.container {
    background: var(--foreground);

    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;

    &_list {
        padding: 6px 22px 6px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--default-border-radius-small);
    }
    &_grid {
        padding: 0;
    }

    &__fullButton {
        background: var(--background);
        position:absolute;

        top: 5px;
        right: 5px;

        width: 23px;
        height: 23px;

        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 13px;
            height: 13px;
        }
    }
    &__fullButton:hover {
        cursor: pointer;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.41);
    }


    &__mainInfo {
        position: relative;

        display: flex;
        align-items: center;
        gap: 17px;
        height: 100%;
        justify-content: space-between;

        overflow: hidden;
        flex-shrink: 0;


        &_list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        &_grid {
            flex-direction: column-reverse;
        }

        &__header {

            padding: 5px 0;
            &_grid {
                font-size: 2rem;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
            }
            &_list {
                font-size: 1.875rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 300px;
            }
        }
    
        &__hoverMaterial {
            position: relative;

            &_grid {
                height: 100%;
                width: 100%;
            }
            &_list {
                height: 94px;
                width: 94px;
            }

            &__mainImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
    
                position: absolute;
                z-index: 0;

                &_list {
                    width: 94px;
                    height: 94px;
                    img {
                        border-radius: var(--default-border-radius-small);
                    }
                }
            }
    
            &__hoveredButtons {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                justify-content: space-between;
                bottom: 0;
                z-index: 1;
                overflow: hidden;
                padding: 15px;
                
                background: linear-gradient(180deg, #AFAFAF 0%, rgba(1, 1, 1, 0.82) 100%);

                h2 {
                    font-size: 2rem;
                    color: #FFFFFF;

                    filter: drop-shadow(0 0 1px black);
                    font-weight: 900;
                    padding: 0;
                    text-align: center;
                    line-height: 35px;
                }
                &__genres {
                    color: #FFFFFF;
                    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.34));
                    font-size: 1.5rem;
                    text-align: center;
                }
                &__buttons {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(53px, 1fr));
                    gap: 20px 70px;
                    margin-top: 30px;
                }
                
            }
        }
    }
    &__mainContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 46px;
        width: 100%;
        height: 100%;

        &__stack {
            font-weight: light;
            font-style: italic;
            font-size: 1.875rem;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 200px;
        }
        &__date {
            font-size: 1.875rem;
        }
    }
}


@media (max-width: 1285px) {
    .container {
        &_list {
            flex-direction: column;
            align-items: center;
        }

        // &__mainInfo {
        //     height: 50%;
        // }
        // &__mainContent {
        //     justify-content: center;
        //     height: 50%;
        // }
    }
}