.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - var(--header-height));
    padding: 60px 20px;
    background: var(--background) !important;

    img {
        width: 60px;
        height: 60px;
    }

    p {
        color: var(--header-name-color);
        font-family: 'JetBrains Mono', monospace;
        margin: 0;
        opacity: 0.8;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 22px 0px 22px 0px;
    gap: 26px;
    min-height: calc(100vh - var(--header-height));

}

.head {
    display: flex;
    height: calc(100vh - var(--header-height));
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--header-height);
    flex-direction: column;
    gap: 80px;
    &__logo {
        width: 450px;
    }
    &__motto {
        color: var(--white);
        font-size: 2.5rem;
        text-align: center;
    }
}